.box {
    border-radius:50%;
    background-color: #000;
    width: 100px;
    height: 0;
    margin: 25px;
    animation-name: jump;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes jump {
    from{
        height: 0;
    }    
    to {
        height: 100px;
    }
}